@use "/styles/themes.module" as theme;

$golden: rgb(255, 174, 0);
$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-fill: rgb(146, 146, 146);
$txt-hg: #0091e7;
$btn-prim: #00ead3;
$x: #622edb;

.dark-mode {
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none !important;
  border: 2px solid  theme.$dark-bg !important;

  &::before,
  &::after {
    background-color: theme.$dark-fg !important;
    color: theme.$dark-fnt !important;
    box-shadow: none !important;
  }
}

.content{
    color: $txt-fill;
}