@use "/styles/themes.module" as theme;

$txt-fill: #52575dc0;
$btn-primary: #01dac4;
$txt-high: #0091e7;
$x: #622edb;

.dark-card{
  background-color: theme.$dark-xfg !important;
  border: unset !important;
}

.dark-header{
  color: theme.$dark-fnt !important;
}


.pic-border {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 6px;
  margin: 8px;
  height: 58px;
  width: 58px;
  border-radius: 29px;
}

.profile-pic {
  border-radius: 70px;
}

.card-body {
  width: 100%;
  padding: 2px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, 0.125) !important;
  border: unset;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  transition: 500ms ease;
  .btns {
    height: 40px;
    width: 40px;
    font-size: 1.3rem;
    border-radius: 20px;
    margin: 0px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: unset;
    border: unset;
    opacity: 0;
    transition: 500ms ease;
  }

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.02);
    .btns {
      opacity: 1;
    }
  }
}

.btns-container {
  margin-left: auto;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.group-name {
  color: $txt-high;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.type-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.group-type {
  font-weight: 400;
  margin-top: 4px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.edit-btn {
  color: $btn-primary;
  &:hover {
    background-color: $btn-primary;
    color: #fff
  }
}

.delete-btn {
  color: rgb(253, 97, 97);
  &:hover {
    background-color: rgb(253, 97, 97);
    color: #fff
  }
}

@media only screen and (max-width: 600px) {
  .btns {
    width: 32px !important;
    height: 32px !important;
    font-size: 1.2rem !important;
    padding: 1px !important;
    margin: 2px !important;
  }
}
