@use "/styles/themes.module" as theme;

$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-hg: #0091e7;

.dark-mode {
  background-color: theme.$dark-fg;
  color: theme.$dark-fnt;
  background: theme.$dark-fg;
  box-shadow: none;
  &::before,
  &::after {
    background-color: theme.$dark-fg;
    color: theme.$dark-fnt;
    box-shadow: none;
  }

  &:active,
  &:focus {
    background-color: $btn-high !important;
  }
}

.dark-txt {
  color: theme.$dark-fnt !important;
}

.dark-header {
  color: $btn-high !important;
}

.main-container {
  margin-right: 5rem !important;
  max-width: calc(100vw - 5rem) !important;
  // padding-right: 52px;
  display: flex;
  margin-top: 0;
  flex-direction: column;
  position: relative;
  top: 0;
  margin: 0%;
  min-height: 100vh;
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-big {
  padding-bottom: 8px !important;
}

.containers {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
}

.cards-container {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  display: inline-flex;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.sections {
  font-size: 28px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  font-weight: 700;
}

.section-header {
  font-weight: 600;
  font-size: 2.2rem;
  color: $btn-high !important;
  margin: 26px 0 26px 16px;

  .header-icons {
    margin: 0 12px;
  }
}

.header-title {
  margin-top: 50px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;

  .header-second {
    display: flex;
    color: black;
  }

  h1 {
    font-size: 4rem !important;
  }

  .landing-text {
    font-size: x-large;
    color: $txt-fill;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 40px;
  }
}

.header-highlight {
  color: #00dfc8 !important;
}

.profile {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 1.25em;
  background: rgb(233, 165, 233);
  transition: 600ms ease;
  &:hover {
    border-radius: 0.5rem;
  }
}

.landing-header {
  position: absolute !important;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.aboutus-text {
  font-size: x-large;
  font-style: italic;
  margin: 46px 120px;
  text-align: center;
  font-weight: 400;
  z-index: 2;
}

.aboutus-icon {
  z-index: 1;
  margin: 0 6px;

  font-size: 120px;
  color: rgba(128, 128, 128, 0.207);
}

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus-icons-holder-ar {
  position: absolute;
}

.aboutus-icons-holder-en {
  position: absolute;
}

.aboutus-author {
  font-size: large;
  font-style: bold;
  color: $btn-high;
  margin: 0 150px;
  width: 100%;
  padding-bottom: 20vh;
}

.nav-buttons {
  border-radius: 6px;
  border: none;
  width: fit-content;
  font-size: large;
  font-weight: 600;
  padding: 16px;
  background-color: $btn-high;
  color: white;
  transition: 300ms ease;
  .btn-icons {
    margin-left: 8px;
    margin-right: 4px;
  }

  &:hover {
    transform: scale(1.05);
    color: white;
  }
}

.xl-card {
  height: 400px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #00ead334;
  margin: 8px;
  width: 100%;
  border-radius: 4px !important;
  transition: 300ms ease;

  .card-header {
    font-size: 24px;
    font-weight: 700;
    color: black;
  }
}

.md-card {
  padding: 16px;
  margin: 4px;
  height: 200px;
  width: 100%;
  border-radius: 4px !important;
  transition: 300ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

.small-news {
  display: inherit;
}

.news {
  display: none;
}

@media only screen and (max-width: 992px) {
  .header-title {
    h1 {
      font-size: 5rem !important;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .landing-header {
    opacity: 0.15;
  }
}

@media only screen and (max-width: 700px) {
  .header-title {
    h1 {
      font-size: 3rem !important;
    }
  }

  .aboutus-text {
    margin: 8px 4px;
  }

  .aboutus-author {
    margin: 8px 12px;
    padding-top: 16px;
    padding-bottom: 10vh;
  }
}

@media only screen and (max-width: 600px) {
  .landing-header {
    top: 0;
  }
  .home-section {
    height: fit-content;
    margin-bottom: 80px;
  }

  .nav-buttons {
    font-size: large;
    padding: 12px;
  }

  .aboutus-text {
    margin: 8px 4px;
  }

  .aboutus-author {
    margin: 8px 12px;
  }

  .aboutus-icons-holder-en {
    right: 10px;
    top: 40px;

    .aboutus-icon {
      font-size: 2rem;
      margin: 0 2px;
    }
  }

  .aboutus-icons-holder-ar {
    left: 10px;
    top: 40px;

    .aboutus-icon {
      font-size: 2rem;
      margin: 0 2px;
    }
  }

  .main-container {
    position: relative;
    max-width: 100vw !important;
    top: 5rem !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sections {
    padding: 16px 8px;
    height: fit-content;
  }

  .section-header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .header-title {
    h1 {
      font-size: 2rem !important;
    }
  }

  .landing-text {
    font-size: medium !important;
  }

  .nav-buttons {
    font-size: medium;
    padding: 10px;
  }
}
