.card{
  height: 200px;
  padding: 16px;
  margin: 8px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  border-radius: 4px !important;
  transition: 300ms ease;
  overflow: hidden;
  cursor: pointer;
  &:hover, &:focus, &:active{
    transform: scale(1.05);
    .card-title{
        filter: blur(1px) opacity(0.1);
    }
    .card-content{
      filter: opacity(1);
    }
  }
}

.card-title{
    text-shadow: 1px 1px rgb(112, 112, 112);
    direction: rtl;
}

.card-content{
  position: absolute;
  direction: rtl;
  width: 101%;
  height: 101%;
  background-color: rgba(128, 128, 128, 0.5);
  top: -1px;
  left: -1px;
  filter: opacity(0);
  transition: 300ms ease;
  padding: 16px ;
  padding-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  color: white;
  font-size: 12px;
  overflow-y: scroll;
  
}

.card-content::-webkit-scrollbar {
  width: 0.3rem;
  
}

.card-content::-webkit-scrollbar-track {
  background: white;
}

.card-content::-webkit-scrollbar-thumb {
  background: #969696;
}

.large-card{
height: 416px;

.card-content{
  padding: 32px;
  padding-left: 170px;
}
}

@media only screen and (max-width: 600px) {
  .large-card{
    height: 316px;
    .card-content{
    padding: 16px;
  }
  }
  
}