@use "/styles/themes.module" as theme;

$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-fill: rgb(146, 146, 146);
$txt-hg: #0091e7;
$btn-prim: #00ead3;
$x: #622edb;

.dark-mode {
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none !important;
  border: 4px solid theme.$dark-fg !important;
  &::before,
  &::after {
    background-color: theme.$dark-fg !important;
    color: theme.$dark-fnt !important;
    box-shadow: none !important;
  }
}

.dark-header{
  color: theme.$dark-fnt !important;
}

.dark-mode-input {
  color: theme.$dark-fnt !important;
  background-color: theme.$dark-xfg !important;
  background: theme.$dark-xfg !important;
  // border: 1px solid theme.$light-fnt;
}

.modal-header{
  direction: rtl;
  font-weight: 600;
  text-align: right;
   color: $txt-hg;
   justify-content: flex-start;
   align-items: center;

   span{
     margin-right: 8px;
   }
}

.filters {
 color: rgb(71, 71, 71);
  height: 50px;
  border-top: unset;
  direction: rtl;
  padding-right: 8px;
  text-align: right;
  border-radius: 8px !important;
  margin-bottom: 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  display: flex;
  align-items: center;
  span{
    margin-right: 8px;
     transition: 300ms ease;
  }
  label {
    margin-right: 22px;
    width: 100%; transition: 300ms ease;
  }

  transition: 300ms ease;

  &:hover{
    transform: scale(1.02);
  }
}



.section-filter{
  transition: 150ms ease;
  display: flex;
  align-items: center;
  input{
     text-transform: uppercase;
    padding-top: 12px;
    font-size: 12px;
    direction: ltr;
  }
}


.titles {
  direction: rtl;
  text-align: right;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  color: $txt-fill;
}


