@use "/styles/themes.module" as theme;

$btn-pr: #1cbfff;
$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-hg: #0091E7;



$colors: (
  blue: #14f7ef,
  green: #00e091,
  yellow: #fac218,
  orange: #FF7600,
  red: #f51663,
);

$txt-fill: #6e737a;
//


.dark-mode {
  background-color: theme.$dark-bg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-bg !important;
  box-shadow: none !important;
  border: unset !important;
  &::before,
  &::after {
    background-color: theme.$dark-fg !important;
    color: theme.$dark-fnt !important;
    box-shadow: none !important;
  }
}

.dark-section{
  background-color: theme.$dark-fg !important;
}

.dark-extra{
 color: theme.$dark-fnt-fg !important;
}

@mixin tagstyle($bg-color) {
  background-color: $bg-color;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  box-shadow: 0 .225rem .3rem rgba(0, 0, 0, 0.171)!important;
  &:hover {
    transform: scale(1.05);
  }
}

.card-body {
  padding: 14px;
 border-radius: 0 0 10px 10px;

}

.cardHeader {
  display: flex !important;
  justify-content: space-between !important;
  background-color: #ffffff ;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px !important;
  align-items: center;
  padding: 10px;
}

.feedback_container {
  margin: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 5px !important;
  border: 1px solid rgba(128, 128, 128, 0.082) !important;
}

.course {
  @include tagstyle(#4d9aff);
  transition: 300ms ease;
}

.term {
  @include tagstyle(#34d5ff);
  transition: 300ms ease;
}

.tags {
  display: flex;
  
  width: 40%;
  justify-content: flex-start;
}

.sections {
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15) !important;
  transition: 300ms ease;
  
}

.section-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.dates {
  color: rgb(146, 146, 146);
  font-weight: 400 !important;
  cursor: default;
  padding: 6px;
  border-radius: 8px;
  
}

.headers {
  width: 100%;
  margin-bottom: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  padding-right: 8px;
  padding-left: 8px;
}

.contentText {
  width: 100%;
  text-align: right;
  color: $txt-fill;
  padding: 10px;
}

.stars {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stars span {
  margin-left: 12px;
  margin-left: 12px;
}

@media only screen and (max-width: 600px) {

  .headers{
    font-size: 16px !important;
  }
  .stars span{
    font-size: 15px !important;
  }

  .sections{
    &:hover{
    transform: unset
  }
  }

  .card-body{
    padding: 6px;
  }
}
