$txt-fill: #52575d;

@mixin tagstyle($bg-color) {
  background-color: $bg-color;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.card-body {
  padding: 14px;
}

.cardHeader {
  display: flex !important;
  justify-content: space-between !important;
  background-color: #ffffff !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px 10px 0 0 !important;
  align-items: center;
  padding: 10px;
}

.feedback_container {
  margin: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px !important;
  border: 1px solid rgba(128, 128, 128, 0.082) !important;
}

.course {
  @include tagstyle(#4d9aff);
  transition: 300ms ease;
}

.term {
  @include tagstyle(#34d5ff);
  transition: 300ms ease;
}

.tags {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}

.sections {
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.15) !important;
}

.section-icon {
  margin-left: 8px;
}

.dates {
  color: $txt-fill;
  font-weight: 600 !important;
}

.headers {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  padding-right: 8px;
}

.contentText {
  width: 100%;
  text-align: right;
  color: $txt-fill;
  padding: 10px;
}

.stars {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stars span {
  margin-left: 12px;
  margin-left: 12px;
}
