@use "/styles/themes.module" as theme;

$btn-pr: #1cbfff;
$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-hg: #0091e7;

.dark-mode {
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none !important;
  border: unset !important;
  &::before,
  &::after {
    background-color: theme.$dark-fg !important;
    color: theme.$dark-fnt !important;
    box-shadow: none !important;
  }

  .dark-border {
    background: theme.$dark-xxfg !important;
  }

  .dark-header{
  color: theme.$dark-fnt !important;
}

  .prev_list::-webkit-scrollbar {
    width: 0.3rem;
  }

  .prev_list::-webkit-scrollbar-track {
    background: rgb(129, 129, 129) !important;
    border-radius: 2px;
    box-shadow: inset 0 0 0.3rem rgb(218, 218, 218) !important;
  }

  .prev_list::-webkit-scrollbar-thumb {
    background: #5e5e5e !important;
    border-radius: 0.15rem;
  }
}

.container {
  margin-right: 5rem !important;
  min-width: calc(100vw - 5rem) !important;
  padding: 30px;
  padding-left: 52px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.statsCard {
  height: 100%;
  min-height: 450px;
  background-color: white;
  border-radius: 4px;
  justify-self: flex-end;
}

.feedbackCol {
  height: 85vh;
  margin-bottom: 16px;
  min-height: 700px;
  border-radius: 4px;
}

.statsCol {
  height: 85vh;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 16px;
  min-height: 700px;
}

.statContainer {
  height: 100% !important;
  width: 100%;
  margin-top: 16px;
  padding: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-color: white !important;
}

.statsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prev_list {
  height: 100%;
  overflow-y: scroll;
  border-radius: 3px;
}

.prev_list::-webkit-scrollbar {
  width: 0.3rem;
}

.prev_list::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
  border-radius: 2px;
  box-shadow: inset 0 0 0.3rem rgb(218, 218, 218);
}

.prev_list::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 0.15rem;
}

.feedbackContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  box-sizing: border-box;
  overflow-y: hidden;
  border-color: white !important;
}

.empty-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 115, 115);
  flex-direction: column;

  span{
    font-size: 22px;
    color:rgb(129, 129, 129)
  }
}

.col-container {
  margin: 16px !important;
  padding: 16px;
  display: flex !important;
  align-items: center !important;
  width: 100%;
}

.picDiv {
  border-radius: 35px;
  overflow: hidden;
  padding: 2px;
  margin: auto;
}

.containerHeaders {
  font-weight: 700;
  font-size: 22px;
  color: #0091e7;
}

.evalBtn {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #00ead3;
  border: none;
  margin: auto;
  padding: 8px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  position: fixed;
  bottom: 1.5rem;
  right: 6rem;
  box-shadow: 0px 0px 12px #999999;
  transition: 300ms ease;

  &:disabled {
    background-color: grey;
  }

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100vw !important;
    margin-top: 5rem !important;
    margin: 0%;
  }

  .evals-card {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .evalBtn {
    right: 2rem;
    bottom: 1rem;
  }

  .col-container {
    padding: 0px;
  }

  .empty-container span{
    font-size: 18px;
  }
}
