@use "/styles/themes.module" as theme;

$btn-pr: #1cbfff;
$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-hg: #0091E7;



$colors: (
  blue: #14f7ef,
  green: #00e091,
  yellow: #fac218,
  orange: #FF7600,
  red: #f51663,
);

$txt-fill: #6e737a;
//


.dark-mode {
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none !important;
  border: unset !important;
  &::before,
  &::after {
    background-color: theme.$dark-fg !important;
    color: theme.$dark-fnt !important;
    box-shadow: none !important;
  }
}

.dark-ovr{
  color: theme.$dark-fnt !important;
}

.dark-bars{
  background-color: theme.$dark-bg !important;
  border: theme.$dark-bg !important;

  :nth-child(1){
     background-color: theme.$dark-bg ;
      border: theme.$dark-bg !important;
  }
}

@each $color, $value in $colors {
  .grading_#{$color} div {
    background-color: $value !important;
    box-shadow: 0 0 0.4rem $value !important;
    overflow: visible !important;
  }
}

.statsBody {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ovrSection {
  width: 100%;
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.attrBars {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
}

.barHeaders {
  font-size: 16px;
  font-weight: 600;
  color: $txt-fill;
  margin-top: 4px;
  padding-bottom: 4px;
}

.barContainer {
  padding: 1px;
}

.barValue {
  background-color: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 12px !important;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.barValue > div {
  height: 16px;
  margin: 2px;
  border-radius: 8px !important;
  background: #e6e6e6;
  overflow: visible;
  div{
  border-radius: 12px !important;
  }
  // box-shadow: 1px 1px 3px #c5c5c5, -1px -1px 3px #ffffff;
}

.ovrcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8vw;
  min-width: 130px;
  height: 8vw;
  padding: 2px;
  min-height: 130px;
  border-radius: max(4vw, 75px);
  background: #f1f1f105;
}

.ovrDisplay {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: calc(0.9 * 75px);

  .score {
    font-weight: 700;
    font-size: 4.5vmin;
    color: #52575d;
  }

  .divider {
    width: 75px;
    border-top: 3px solid #52575d69;
    margin: 2px;
    margin-top: 0px;
    background-color: #52575d69;
    border-radius: 1.5px;
  }

  .ovrFull {
    font-weight: 700;
    font-size: 22px;
    color: #52575d69;
  }
}

.bg-blue {
  background-color: rgb(20, 100, 9);
}

.headers{
  color: #316B83 !important;
  
  
}

@media only screen and (max-width: 600px) {
 .ovrDisplay .score{
  font-size: 7vmin;
}

}
