$colors: (
  blue: #14f7ef,
  green: #00e091,
  orange: #fac218,
  red: #f51663,
);

$txt-fill: #6e737a;
//

@each $color, $value in $colors {
  .grading_#{$color} div {
    background-color: $value;
  }
}

.statsBody {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ovrSection {
  width: 100%;
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.attrBars {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-end;
}

.barHeaders {
  font-size: 18px;
  font-weight: 700;
  color: $txt-fill;
  direction: rtl;
  text-align: right;
  padding-bottom: 8px;
}

.barContainer {
  padding: 1px;
}

.barValue {
  background-color: white;
  padding: 4px;
  border-radius: 12px !important;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.barValue > div {
  direction: rtl !important;
  height: 16px;
  margin: 2px;
  border-radius: 8px !important;
  background: #e6e6e6;
  // box-shadow: 1px 1px 3px #c5c5c5, -1px -1px 3px #ffffff;
}

.ovrcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8vw;
  min-width: 110px;
  height: 8vw;
  min-height: 110px;
  border-radius: max(4vw, 55px);
  background: #f1f1f105;
}

.ovrDisplay {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;

  .score {
    font-weight: 700;
    font-size: 37px;
    color: #52575d;
  }

  .divider {
    width: 75px;
    border-top: 3px solid #52575d69;
    margin: 2px;
    margin-top: 0px;
    background-color: #52575d69;
    border-radius: 1.5px;
  }

  .ovrFull {
    font-weight: 700;
    font-size: 22px;
    color: #52575d69;
  }
}

.bg-blue {
  background-color: rgb(20, 100, 9);
}
