@use "/styles/themes.module" as theme;
$x: rgb(255, 90, 90);

$btn-high: #00ead3;
$txt-fill: #52575d;
$txt-hg: #0091E7;


.dark-mode {
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none !important;
}

.dark-border{
background: theme.$dark-xxfg !important;

}



.Cardholder{
    transition: 300ms ease;
    border: none;
    cursor: pointer;
    align-self: center;
    background: #ffffff;
    margin: 8px; 
    &:hover{
        transform: scale(1.05);
    }
    &:active{
      transform: scale(0.95);
    }
}


.container {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  padding-bottom: 16px !important;
  overflow: hidden;

  .instructor_name {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding: 8px;
    padding-bottom: 0;
  }

  

  .instructor_dept {
    font-size: 18px;
    color: #0091e7;
    font-weight: 400;
  }

  .stars{
      width: 100%;
      display: flex;
      justify-content: space-around;
  }

  .stars span {
    font-size: 20px !important;
    margin-left: 12px;
    margin-left: 12px;
  }
}

.cardColor {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  background-blend-mode: multiply;
  background-size: cover;
  .eval_counter{
  
    pointer-events: text;
    height: 40px;
    width: 58px;
    font-weight: 600;
    display:flex;
    color: rgba(0, 0, 0, 0.25);;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    right: 12px;
    font-size: 1.1rem;
    position: absolute;
    transition: 300ms ease;
    &:hover{
      transform: scale(1.05);
    }

    &::after{
      -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
  zoom: 0.9; /* Other non-webkit browsers */
  zoom: 90%; /* Webkit browsers */
    }
    
  }


  .insuctor_pic{
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
      margin: auto;
      margin-top: 10px;
      padding-bottom: 8px;
      padding: 4px;
      border-radius: 35px;
      overflow: hidden;
      background-color: white;
      color: white !important;

      img{
        border-radius: 35px;
      }
      
  }

  // &::after{
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   height: 5px;
  //   right: 0;
  //   background-image: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 255, 191));
  // }
}
