$btn-pr: #1cbfff;

.pagination-container {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 3px;
}

.buttons {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: 35px;
  margin: 1px;
  border: 2px solid rgba(255, 255, 255, 0);

  transition: 500ms ease;
  a {
    border: unset;

    color: $btn-pr !important;
    text-align: center;
    background-color: unset !important;
    font-size: 18px;
    font-weight: 600;
    height: 100% !important;
  }
  span {
    height: 100% !important;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: unset;
    background-color: unset !important;
  }

  &:hover {
    border: 2px solid #d8dbdf;
  }

  &:active,
  &:focus {
    box-shadow: unset !important;
  }
}

.active-btn {
  border: unset;
  box-shadow: 0 0.125rem 0.45rem $btn-pr !important;
  color: white !important;
  width: 35px;
  margin: 3px;
  span {
    height: 100% !important;
    background-color: $btn-pr !important;
    color: white !important;
    border: unset;
    font-weight: 700;
    font-size: 18px !important;
    border-radius: 4px;
  }
  a {
    height: 100% !important;
    width: 100%;
    background-color: $btn-pr !important;
    color: white !important;
    border: unset;
    font-weight: 700;
    font-size: 18px !important;
    border-radius: 4px;
  }

  &:hover {
    border: unset;
  }
}
