$light-fnt: #52575d;
$light-bg: rgb(250, 250, 250);
$light-fg: #fff;
$dark-fnt: #fff;
$dark-bg: #121212;
$dark-fg: #1F1A24;
$highlight: #00dfc8;
$dark-xfg: #27222c;
$dark-xxfg: #39343f;
$dark-fnt-fg: rgb(175, 174, 174);

