@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  font-family: "Cairo", sans-serif !important;
  background: url("/images/background.svg") repeat  ;
  background-size: auto;
  overflow-x: hidden;
  touch-action: pan-y pan-x;
}

a{
  text-decoration: none !important;
}


body::-webkit-scrollbar{
  width: 0.30rem;
}

body::-webkit-scrollbar-track{
  background: white;
}

body::-webkit-scrollbar-thumb{
  background: #969696;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  
}

a {
  color: inherit;
  text-decoration: none;
}

