@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
