@use '/styles/themes.module' as theme;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  min-width: 100vw;
  height: fit-content;
  position: absolute;
  font-family: "Cairo", sans-serif !important;
  background: rgb(250, 250, 250) ;
  overflow-x: hidden;
  touch-action: pan-y pan-x;
  transition: 300ms ease;
  width: 100vw;
}

a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: #969696;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}
