@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
.container {
  height: 100vh;
  padding: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Cairo", sans-serif;
}

