$fnt-size: 16px;
$bg-primary: #2ecfeb;
$fnt-clr: rgb(168, 168, 168);
$testing: #00dfc8;
$clr-primary: #00ead3;
.navbar_nav {
  width: 100%;
  pointer-events: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 640px;
  justify-content: center;
  background: rgb(247, 247, 247);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  transition: 500ms ease;
}

.collapser {
  background: rgb(247, 247, 247);
  border: none;
  transition: 500ms ease;
  .collapse_icon {
    color: $fnt-clr;
    transition: 500ms ease;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    background: rgb(247, 247, 247) !important;
    .collapse_icon {
      color: $clr-primary !important;
    }
  }

  &:hover {
    background: $clr-primary !important;
    .collapse_icon {
      color: white;
    }
  }
}

.navbar_item {
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;

  font-weight: 700;
  cursor: pointer;
  transition: 500ms ease;
  &:hover,
  &:active {
    color: $bg-primary;
    .link_text {
      color: $bg-primary;
    }
  }

  .link_text {
    width: 100%;
    font-size: 10px;
    margin: 8px;
    white-space: nowrap;
    transition: color 500ms ease;
    display: flex;
    justify-content: center;
  }
}

.navbar {
  display: flex;
  pointer-events: none;
  height: 100vh !important;
  position: fixed;
  right: 0 !important;
  top: 0 !important;
  color: $fnt-clr;
  font-family: "Cairo", sans-serif;
  transition: width 200ms ease;
  width: 5rem !important;
  align-items: center;
  justify-content: center;
  z-index: 102;
}

.navbar_top {
  position: fixed;
  pointer-events: auto;
  top: 0 !important;
  display: none;
  z-index: 99;
  width: 100vw;
  background: rgb(247, 247, 247);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  color: $fnt-clr;
  height: 4rem;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  left: 0;
}

.navbar_main {
  pointer-events: auto;
  z-index: 100;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  width: 5rem;
  background: rgb(247, 247, 247);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  color: $fnt-clr;
  right: 0;
}

.navbar_side {
  z-index: 100;
  pointer-events: auto;
  position: fixed;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  top: 4rem;
  width: 5rem;
  background: rgb(247, 247, 247);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  color: $fnt-clr;
  left: 100vw;
  transition: 500ms ease, height 200ms ease;
  -webkit-transition: 500ms ease, height 200ms ease;
  -moz-transition: 500ms ease, height 200ms ease;
  -ms-transition: 500ms ease, height 200ms ease;
  -o-transition: 500ms ease, height 200ms ease;
}

.navbar_side ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 500ms ease, height 50ms ease;
  height: 100%;
  min-height: 640px;
}

.navbar_side ul:last-child {
  margin-top: auto;
}

.navbar_side ul > li {
  box-shadow: 0 2px 3px rgb(204, 202, 202);
  margin-top: 0;
}

.navbar_link {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  background-color: rgba(247, 247, 247, 0) !important;
  border: none;
  color: $fnt-clr;
  &:hover,
  &:active,
  &:focus {
    color: $bg-primary !important;
    background: rgb(233, 233, 233);
    box-shadow: unset !important;
  }
}

.nav_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  height: 30vh;

  .navbar_item {
    font-size: 0.9rem;
    height: 5em;
  }
}

.nav_img {
  width: 1.8rem !important;
  transition: 500ms ease;
}

.nav_overlay {
  width: calc(100vw - 5rem);
  height: 100vh;
  opacity: 0;
  position: fixed;
  z-index: 99;
  left: 0;
}

.link_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 1.25em;
  background: rgb(233, 165, 233);
  transition: 500ms ease;
  &:hover {
    border-radius: 0.5rem;
  }
}

.popup-info {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.popup-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 16px;
}

.popup-txt {
  line-height: 1.2;
}

.navbar_main::-webkit-scrollbar {
  display: none;
}

.navbar_side::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navbar_side {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar_main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  direction: rtl !important;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  
}

.info-btn{
  color: $bg-primary !important;
  text-align: right;
  font-weight: 600;
  padding: 6px;
  margin: 2px;
  font-size: 13px;
  font-family: "Cairo", sans-serif !important;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
  transition: 200ms ease;
  &:hover{
    background-color: $bg-primary;
    color: white !important;
  }
}

.signout-btn {
  background: unset !important;
  border: unset !important;
  text-align: right;
  color: rgb(255, 89, 89);
  padding: 6px;
  width: 100%;
  margin:2px;
  font-size: 13px;
  font-family: "Cairo", sans-serif !important;
  font-weight: 600;
  transition: 200ms ease;
  &:hover {
    background: rgb(255, 107, 107) !important;
    color: white !important;
  }
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .navbar_nav {
    display: flex;
  }

  .navbar_top {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar_top {
    display: flex;
    flex-direction: row;
  }

  .navbar_main {
    display: none;
  }

  .nav_pages {
    height: 50vh;
  }
}

@media only screen and (max-height: 640px) {
  .navbar_main {
    overflow-y: scroll;
  }
}
