@use '/styles/themes.module' as theme;


$fnt-size: 16px;
$bg-primary: #2ecfeb;
$fnt-clr: rgb(170, 170, 170);
$testing: #00dfc8;
$clr-primary: #00ead3;

.dark-mode{
  
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none;
  &::before, &::after{
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
   box-shadow: none !important;
  }


  &:active, &:focus{
    background-color: transparent !important;
  }
}

.dark-topper{
  
  background-color: theme.$dark-fg !important;
  color: theme.$dark-fnt !important;
  background: theme.$dark-fg !important;
  box-shadow: none;

  &:active, &:focus{
    background-color: theme.$dark-fg !important;
  }

  
}

.navbar_nav {
  width: 100%;
  pointer-events: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 640px;
  justify-content: center;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  transition: 200ms ease;
}

.collapser {
  background: white;
  border: none;
  transition: 200ms ease;
  .collapse_icon {
    color: $fnt-clr;
    transition: 200ms ease;
  }

  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    .collapse_icon {
      color: #fff !important;
    }
  }

  &:hover {
    background: $clr-primary !important;
    .collapse_icon {
      color: white;
    }
  }
}

.navbar_item {
  width: 5rem;
  height: 4rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;

  font-weight: 700;
  cursor: pointer;
  transition: 200ms ease;
  &:hover,
  &:active {
    color: $bg-primary;
    .link_text {
      opacity: 1;
    }
  }

  .active-link {
    transition: 200ms ease;
    color:  $bg-primary !important;
    .link_text {
      color: $bg-primary !important;
      
    }
    
    &:hover,
    &:active {

      &::before{
        opacity: 0;
      }
      .link_text {
        color: $bg-primary !important;
      }
    }

    
    &::before{
      transition: 200ms ease;
      content: "";
      box-shadow: 0 0 3px $bg-primary;
      position: absolute;
      left: 8px;
      background-color: $bg-primary;
      width: 4px;
      margin-top: 2px;
      height: 1.5rem;
      border-radius: 2px;
    }
  }


  .link_text {
    width: 100%;
    opacity: 0;
    font-size: 10px;
    margin: 6px;
    white-space: nowrap;
    transition: 500ms ease;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: $bg-primary;
  }
}

.navbar {
  display: flex;
  pointer-events: none;
  height: 100vh !important;
  position: fixed;
  right: 0 !important;
  top: 0 !important;
  color: $fnt-clr;
  font-family: "Cairo", sans-serif;
  transition: width 200ms ease;
  width: 5rem !important;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navbar_top {
  position: fixed;
  pointer-events: auto;
  top: 0 !important;
  display: none;
  z-index: 199;
  width: 100vw;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253) !important;
  color: $fnt-clr;
  height: 4rem;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  left: 0;
}

.navbar_main {
  pointer-events: auto;
  z-index: 100;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  width: 5rem;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  color: $fnt-clr;
  right: 0;
}

.support-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
   color: $fnt-clr;
   transition: 300ms ease;
  .btn-icons {
    margin-left: 8px;
    margin-right: 4px;
  }




  &:hover {
    color:  #f96854;

    .support_text{
      color: #f96854;
    }
   
  }

  
}


.navbar_side {
  z-index: 100;
  pointer-events: auto;
  position: fixed;
  
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  top: 4rem;
  width: 5rem;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.253);
  color: $fnt-clr;
  left: 100vw;
  transition: 200ms ease, height 200ms ease;
  -webkit-transition: 200ms ease, height 200ms ease;
  -moz-transition: 200ms ease, height 200ms ease;
  -ms-transition: 200ms ease, height 200ms ease;
  -o-transition: 200ms ease, height 200ms ease;
}

.navbar_side ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  transition: 200ms ease, height 50ms ease;
  height: calc(100vh - 4rem);
}

.navbar_side ul:last-child {
  margin-top: auto;
}

.navbar_side ul > li {
  margin-top: 0;
}

.navbar_link {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  background-color: rgba(247, 247, 247, 0) !important;
  border: none;
  color: $fnt-clr;
  &:hover,
  &:active,
  &:focus {
    color: $bg-primary !important;
    background: rgb(233, 233, 233);
    box-shadow: unset !important;
    .link_text {
      opacity: 1;
    }
  }
}




.nav_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 30vh;

  .navbar_item {
    font-size: 0.9rem;
    height: 5em;
  }
}

.nav_img {
  width: 1.8rem !important;
  transition: 200ms ease;
  margin-top: 3px;
}

.nav_overlay {
  width: calc(100vw - 5rem);
  height: 100vh;
  opacity: 0;
  position: fixed;
  z-index: 99;
  left: 0;
}

.link_btn {
  width: 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  
}

.inactive_btn{
  color: grey !important;
  width: 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  .link_text{
    color: grey;
  }
}

.lang-switch{
  background-color: white;
  width: 100%;
  color: $fnt-clr;
  font-size: 12px;
  button:hover{
    background-color: #00dfc8 !important;
    color: white;
    border: 1px solid #00dfc8 !important;
    box-shadow: none;
    width:70px !important;
  }

  button:focus{
    box-shadow: none;
    width: 70px !important;
  }

  button{
    width: 70px !important;
    height: 35px !important;
    border: 1px solid $fnt-clr;
    margin: 2px;
    border-radius: 2px !important;
  }

  button:active, button:focus{
    width: 50% !important;
    background-color: #00dfc8 !important;
    color: white !important;
    border: unset;
  }
}

.lang-active{
   background-color: #00dfc8 !important;
    color: white;
    border: 1px solid #00dfc8 !important;
}

.profile {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 1.25em;
  background: rgb(233, 165, 233);
  transition: 200ms ease;
  &:hover {
    border-radius: 0.5rem;
  }
}

.popup-info {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.popup-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 16px;
}

.popup-txt {
  line-height: 1.2;
  strong{
    color: #2ecfeb;
     font-size: 18;
  }
}

.navbar_main::-webkit-scrollbar {
  display: none !important;
}

.navbar_side::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navbar_side {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.lang-icon{
  color: rgb(128, 128, 128);
}

.navbar_main {
  -ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  direction: rtl !important;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
}

.info-btn {
  color: $bg-primary !important;
  text-align: right;
  font-weight: 600;
  padding: 6px;
  margin: 2px;
  font-size: 13px;
  font-family: "Cairo", sans-serif !important;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
  transition: 200ms ease;
  &:hover {
    background-color: $bg-primary;
    color: white !important;
  }
}

.signout-btn {
  background: unset !important;
  border: unset !important;
  text-align: right;
  color: rgb(255, 89, 89);
  padding: 6px;
  width: 100%;
  margin: 2px;
  font-size: 13px;
  font-family: "Cairo", sans-serif !important;
  font-weight: 600;
  transition: 200ms ease;
  &:hover {
    background: rgb(255, 107, 107) !important;
    color: white !important;
  }
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

.signin-btn {
  background: unset !important;
  border: unset !important;
  text-align: right;
  color: $clr-primary;
  padding: 6px;
  width: 100%;
  margin: 2px;
  margin-top: 4px;
  font-size: 13px;
  font-family: "Cairo", sans-serif !important;
  font-weight: 600;
  transition: 200ms ease;
  &:hover {
    background: $clr-primary !important;
    color: white !important;
  }
  &:focus {
      background: $clr-primary !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .navbar_nav {
    display: flex;
  }

  .navbar_top {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar_top {
    display: flex;
    flex-direction: row;
  }

  .navbar_main {
    display: none;
  }

  .nav_pages {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }
}

@media only screen and (max-height: 640px) {
  .navbar_main {
    overflow-y: scroll;
  }
}
