.root {
  font-size: 50%;
}
.registrationBtn,
.registrationBtn:hover {
  width: 140px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  font-weight: bolder;
  background-color: #ebebeb;
  font-size: 1.2em;
  margin: 1em;
  color: #645d6b;
  border-radius: 1em;
  /*Browsers support*/
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  outline: none;
  border-color: #ebebeb;
}

.registrationBtnActive,
.registrationBtn:active,
.registrationBtn:focus {
  border-color: #ebebeb !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px !important;
  background-color: #f2f2f2;
  background-image: linear-gradient(#2aff80 20%, 45%, #03caffff 62%);
  background-size: 100%;
  background-clip: text;
  margin: 1em;
  /*Browsers support*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  outline: 0;
  border-color: #ebebeb;
}

.submitBtn {
  margin: auto;
  background-image: linear-gradient(45deg, #2aff80, #03caffff);
  color: white;
  transition: transform 0.3s 0.1s ease;
  -webkit-transition: transform 0.3s 0.1s ease;
  -moz-transition: transform 0.3s 0.1s ease;
  -ms-transition: transform 0.3s 0.1s ease;
  -o-transition: transform 0.3s 0.1s ease;
  border: none;
  width: 80%;
  font-weight: 500;
}

.submitBtn:hover {
  color: white;
  background-image: linear-gradient(45deg, #26e473, #02a6d2);
}

.registrationLabel {
  background-image: linear-gradient(#2aff80 20%, 45%, #03caffff 62%);
  background-size: 100%;
  background-clip: text;
  font-family: "Cairo";
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

.logoContainer {
  height: 185px;
  width: 300px;
  margin: auto;
}

.body {
  position: relative;
}
.backgroundLogo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  background-color: #fbfbfb;
  width: 650px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 40px;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 90%;
}

.h5 {
  font-weight: 600;
  padding: 0 !important;
  display: inline;
}

.h3 {
  padding-bottom: 15px;
}

.arabic {
  direction: rtl;
  font-family: "Cairo";
}

.formReg {
  width: 80% !important;
  margin: auto !important;
  font-size: 20em;
}

@media only screen and (max-width: 1200px) {
  .backgroundLogo {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logoContainer {
    height: 150px;
    width: 230px;
  }

  /* html {
    font-size: 88%;
  } */

  .container {
    width: 95%;
    font-size: 88%;
  }

  .h3 {
    font-size: 25px;
  }
  .h5 {
    font-size: 16px;
  }

  .arabic {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .logoContainer {
    height: 100px;
    width: 170px;
  }

  .h3 {
    font-size: 16.5px;
  }

  .submitBtn,
  .h5 {
    font-size: 14px;
  }

  .arabic {
    font-size: 10px;
  }

  .registrationBtn,
  .registrationBtn:hover {
    font-size: 1em;
  }

  .formReg {
    margin: 0;
    padding: 0;
    width: 120%;
  }

  .container {
    font-size: 70%;
  }
  /* 
  html {
    font-size: 70%;
  } */
}
